@import "../../sass/modules/layout";

.logo {
  fill: var(--color-aoeu-blue);
}

.horizontal-xs {
  width: 10rem;
}
.horizontal-s {
  width: 15rem;
}
.horizontal-m {
  width: 20rem;
}
.horizontal-l {
  width: 25rem;
}
.horizontal-xl {
  width: 30rem;
}

.vertical-xs {
  height: 3rem;
}
.vertical-s {
  height: 5rem;
}
.vertical-m {
  height: 10rem;
}
.vertical-l {
  height: 15rem;
}
.vertical-xl {
  height: 20rem;
}

.horizontal-fill,
.vertical-fill {
  width: 100%;
}

.storyContainer {
  @include centered-content;
  padding: 5rem;

  & > svg {
    border: 1px dashed #eee;
  }
}
