html,
body {
  font-family: 'proxima-nova', 'Helvetica Neue', 'Helvetica', sans-serif !important;
}

.sbdocs {
  font-family: 'proxima-nova', 'Helvetica Neue', 'Helvetica', sans-serif !important;
}

.sbdocs-p, code {
  font-size: 1.125rem !important;
}

pre, pre code {
  font-size: 0.95rem !important;
}

.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3,
.sbdocs-h4,
.sbdocs-h5,
.sbdocs-h6 {
  display: block !important;
  font-family: 'proxima-nova', 'Helvetica Neue', 'Helvetica', sans-serif !important;
  font-weight: 500 !important;
}

.sbdocs-hr {
  margin: 5rem auto !important;
}

.sbdocs-blockquote {
  margin: 2rem auto !important;
}

.sidebar-header > div:nth-child(1) {
  margin: 0 -28px 0 0 !important;
  padding: 0.5rem !important;
}

.sidebar-header > div:nth-child(2) {
  margin-left: -28px !important;
}

.sidebar-subheading {
  font-size: 0.95rem !important;
}

.sidebar-item {
  color: #606770 !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.sidebar-item.selected {
  background: rgba(0, 0, 0, 0.05) !important;
  color: #0076a8 !important;
  font-weight: normal !important;
}
